form {
    border: 2px solid black;
    height: 400px;
    display: inline-block;
    width: 350px;
}

input {
    height: 40px;
    width: 200px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
}

button {
    height: 40px;
    width: 100px;
    background-color: aquamarine;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: bisque;
}