body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: color #f6f6f6;;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  height: 450px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

h1 {
  margin: 0;
  font-size: 28px;
  color: #212121;
}


.create-account {
  margin: 10px 0 20px;
  color: #333;
}

.create-account a {
  color: #007c89;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.password-field {
  position: relative;
}

.show-password {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 13px;
  color: #007c89;
  cursor: pointer;
}

.checkbox {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 8px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #007c89;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  
}

.login-btn:hover {
  background-color: #005e63;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links a {
  color: #007c89;
  text-decoration: none;
  font-size: 14px;
}